*.obj
*.~*
*.exe
*.*~
*.tds
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.dll
*.obj
journal*.*
*.map
*.il?
*.csm
*.#??
*.i
*([0-9]).*
/Win32/*
